@charset "UTF-8";

header {
    background-color: black;
}

h1 {
    color: white;
}

main {
    display: flex;
}

.geral{
    background-color: rgb(60, 60, 60);
    
    display: flex;
    margin: auto;
    margin-top: 7.05vh;
    margin-bottom: 8vh;
    height: 70vh;
    width: 50vw;

}

h2 {
    text-align: center;
    font-size: 4vw;
    color: white;
    padding: 1vw;
}

img#form {
    width: 75%;
    height: 100%;
}

img#front {
    width: 25%;
    height: 25%;
    padding: 3vw;
    padding-right: 10vw;
}

p{
    color: white;
    padding: 1vw;
    font-size: 2vw;
}

a {
    font-size: 1vw;
    text-decoration: none;
    color: white;
}

footer {
    background-color: black;
}

p#dev {
    font-size: 1vw;
}