@charset "UTF-8";

h1 {
    color: white;
}
main{
    background: url(../images/backgrd.jpg) no-repeat;
    background-size: cover;
    background-position: right top;
}
.geral{
    background-color: rgb(60, 60, 60);
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 65vh;
    width: 65vw;
    border-radius: 17px;
    overflow: hidden;
}

.imgform {
    background: url(../images/form.png) no-repeat;
    background-size: cover;
    height: 30vh;
    background-position: center top;
}

img#front {
    display: none;
}

h2 {
    text-align: center;
    font-size: 7vw;
    color: white;
    padding: 1vw;
}

p{
    color: white;
    padding: 1vw;
    font-size: 4vw;
}

a {
    font-size: 3vw;
    text-decoration: none;
    color: white;
}