@charset "UTF-8";

h1 {
    color: white;
    font-size: 4vw;
    padding: 1vw;
}

body{
    background: url(../images/backgrd.jpg) no-repeat;
    background-size: cover;
    background-position: right top;
}

.geral{
    background-color: rgb(60, 60, 60);
    
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);

    height: 75vh;
    width: 75vw;

    border-radius: 17px;

    overflow: hidden;

    
}

.imgform {
    background: url(../images/form.png) no-repeat;
    background-size: cover;

    background-position:  -250px 0px;

    float: left;
    width: 40%;
    height: 100%;
}

.form {
    float: right;
    width: 60%;
    height: 100%;
}

h2 {
    text-align: center;
    font-size: 3vw;
    color: white;
    padding: 1vw;
}

p {
    color: white;
    padding: 1vw;
    font-size: 1.7vw;
}

a {
    font-size: 2vw;
    text-decoration: none;
    color: white;
}

footer {
    position: absolute;
    bottom: -6%;
}

footer > p {
    font-size: 1vw;
    padding: 0;
}

img#front {
    display: none;
}